body{
    margin: 0;
}
header{
    background-image: url(Resume.jpg);
    opacity: 0.8;
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1.2rem;
    background-position: center;
    
}

.navlist{
    text-align: center;
}
.navlist a{
   color: white;
   text-decoration: none;
   justify-content: space-evenly;
    padding: 0.5rem;
    margin-top: 10vh;
    text-align: center;
}
.navlist a:hover{
    color: orange;
    scale: 1.5;
    text-decoration: underline;
    
}
#name{
    margin-top: 10vh;
}
#my-name{
   font-size: 3rem;
   letter-spacing: 0.1rem;
   color: white;
   font-weight: 700;
   margin-bottom: 0.5rem;
}
.social a{
    color: white;
    justify-content: space-evenly;
    padding: 0.5rem;
    
}
.social{
    margin-top: 2rem;
    text-align: center;

}
.social a i:hover{
    color: orange;
    scale: 1.5;
    

}
#about{
    height: auto;
    width: 100%;
    position: relative;
}
#my-img{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -12vh;
}
#my-img img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2.5px solid whitesmoke;
    box-shadow:1px;
}
#about p {
    letter-spacing: 0.01rem;
    font-size: 1.1rem;
    padding: 2.5rem;
    font-weight: 400;
}
#about p em{
    color: blue;
    font-size: 1.19rem;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#skills{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(9, 48, 103);
    background-color: aliceblue;
    
    
}
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
    margin-bottom: 10px;
}
.section-heading span{
    font-size: 40px;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;

}
.skills-display{
    width: 70%;
    
     /* height: 100px;
    border: 2px solid black;  */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: space-evenly;
    
}


/* .skill1{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    gap: 30px; */


.skill-progress{
    border: 1px solid;
    width: 8rem;
    height: 2.4rem;
    background-color: lightgrey;
    border-radius: 20px;
    justify-content: space-evenly;
    
}
.skill-progress div{
    border-radius: 20px 0px 0px 20px;

}
.skill-progress .percent8{
    border-radius: 20px;
}

.mb-75px{
    margin-bottom: 75px;
}
.percent1{
    width: 85%;
    height: inherit;
    background-color: rgb(3, 86, 114);
    border-radius:0.8rem ;
    
}
.skill-name span{
    color: white;
    font-size: 1rem;
    text-align: center;
   
}
.percent2{
    width: 90%;
    height: inherit;
    background-color: rgb(56, 149, 180);
    border-radius:20px ;
}

.percent3{
    width: 65%;
    height: inherit;
    background-color: rgb(98, 200, 235);
    border-radius:20px ;
}
.percent4{
    width: 55%;
    height: inherit;
    background-color: rgb(225, 236, 19);
    border-radius:20px ;
}
.percent5{
    width: 45%;
    height: inherit;
    background-color: rgb(194, 53, 149);
    border-radius:20px ;
}
.percent6{
    width: 70%;
    height: inherit;
    background-color: rgb(146, 219, 56);
    border-radius:20px ;
}
.percent7{
    width: 85%;
    height: inherit;
    background-color: rgb(53, 116, 137);
    border-radius:20px ;
}
.percent8{
    width: 100%;
    height: inherit;
    background-color: rgb(139, 204, 225);
    border-radius:20px ;
}
#work-experience{
    text-align: center;
    font-size: 1.4rem;
    color: rgb(9, 48, 103);
    margin-top: 2rem;
    
}
.timeline{
    position: relative;
    width: 75%;
    margin-top: 20px;
    /* border: 2px solid black; */
    
}
.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;

    /* border: 2px solid black; */
}
.timeline-box:nth-child(2n){
    left: 53%;

}
.timeline-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 35%;
    right:-12.7%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}
.timeline-box:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 35%;
    left:-9%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color:red;
    z-index: 1;

}
.timeline h4{
    font-weight: 500;
    text-align: left;
    word-spacing: 0;
    color: rgb(9, 48, 103);
}

.timeline h6{
    font-weight: 400;
    text-align: right;
    color: rgb(62, 152, 152);
    word-spacing: 0;
}

.timeline p{
    font-weight: 400;
    /* text-align: center; */
    text-align: justify;
    line-height: 1.2;
    word-spacing: 0;
    font-size: 1.01rem;
    color: black;
    margin: 10px auto;
    
}
.timeline img{
    width: 50px;
}
.timeline-divider{
    position: absolute;
    height: 90%;
    width: 0;
    border: 2px dashed #0096fa6b ;
    top: 10%;
    left: 50%;
}
.plane{
    position: sticky;
    top:20% ;
    transform: rotate(90deg);
}
@media screen and (max-width:600px){
    .timeline-divider{
        left: 5%;
    }
    .timeline-box{
        left: 13%; 
        width: 80%;
    
    }
    .timeline-box:nth-child(2n){
        left: 13%;
        width: 80%;
    
    }
    .timeline-box:nth-child(2n+1)::after{
        left: -12.5%;
    }
    .timeline-box:nth-child(2)::after{
        left: -12.5%;
    }
}

#education{
    margin-top: 5rem;
    background-color: aliceblue;
}
.timeline1{
    position: relative;
    width: 75%;
    margin-top: 30px;
    /* border: 2px solid black; */
    
}
.timeline1-box{
    position: relative;
    margin: 5px;
    margin-top: 50px;
    width: 40%;
    left: 5%;
    min-height: 150px;

    /* border: 2px solid black; */
}
.timeline1-box:nth-child(2n){
    left: 53%;

}
.timeline1-box:nth-child(2n+1)::after{
    content: '';
    position: absolute;
    top: 35%;
    right:-12.7%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: red;
    z-index: 1;
}
.timeline1-box:nth-child(2)::after{
    content: '';
    position: absolute;
    top: 35%;
    left:-9%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color:red;
    z-index: 1;

}

.timeline1 h4{
    font-weight: 500;
    text-align: left;
    word-spacing: 0;
    color: rgb(9, 48, 103);
}


.timeline1 h6{
    font-weight: 400;
    text-align: left;
    color: rgb(0, 0, 0);
    word-spacing: 0;
}


.timeline1 p{
    font-weight: 400;
    /* text-align: center; */
    text-align: justify;
    line-height: 1.2;
    word-spacing: 0;
    font-size: 1.01rem;
    color: black;
    margin: 10px auto;
    
}

.timeline1-divider{
    position: absolute;
    height: 80%;
    width: 0;
    border: 2px dashed #0096fa6b ;
    top: 10%;
    left: 50%;
}
.car{
    position: sticky;
    top:20% ;
    transform: rotate(90deg);
}
@media screen and (max-width:600px){
    .timeline1-divider{
        left: 5%;
    }
    .timeline1-box{
        left: 13%; 
        width: 80%;
    
    }
    .timeline1-box:nth-child(2n){
        left: 13%;
        width: 80%;
    
    }
    .timeline1-box:nth-child(2n+1)::after{
        left: -12.5%;
    }
    .timeline1-box:nth-child(2)::after{
        left: -12.5%;
    }
}
#portfolio{
    margin-top: 40px;
}
.portfolio-headig{
    color: rgb(5, 67, 103);
}
.port{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-evenly;
    gap: 30px;
}
.port img{
    width: 300px;
    height: 250px;
}
.overlay{
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}

#contacts{
    background-color: #104d8b;
    margin-top: 20px;
    color: white;
}
#contacts h1{
    margin-top: 30px;
}
.list{
    margin-left: 30px;}
.con{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-top: 40px;
}
input{
    padding: 10px;
    border:none;
    border-bottom: 2px solid white;
    background: transparent;
    font-size: 1em;
    width: 80%;
    padding: 20px;
    
}

.button{
    display: flex;
    justify-content: center; 
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 20%;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    width: fit-content;
    border-radius: 20px;
}
.button:hover{
    background-color: white;
    color: #104d8b;
}
.social1 a{
    color: white;
    justify-content: space-evenly;
    padding: 0.5rem;
    
}
.social1{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 4rem;
}
.social1 a i:hover{
    color: orange;
    scale: 1.5;
    

}
